body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
input[type=number], [type=rage], select{
    margin: 8px 0;
    
}



 .maindiv {
    background-color: white;
    color:black;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
   
    
} 

footer {
    text-align: left;
}
