body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
input[type=number], [type=rage], select{
    margin: 8px 0;
    
}

.maindiv {
    color: black;
    display: inline-block;    
    margin-left: 40px;
    background-color: white;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    
}



footer {
    text-align: left;
}
